*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-image: url(images/home\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

nav {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo {
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
}
.logo img{
    
    width: 110px;
}
.logo h1{
    font-size: 2.5rem;
    color: #f8c017
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav li{
    height: 50px;
}
nav a{
    padding: 0 30px;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #293e53;
}

nav li:first-child{
    margin-right: auto;
}
.menu-bar i{
    color: #f8c017;
    font-size: 30px;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 340px;
    z-index: 999;
    background-color: #f5ead9cf;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 8px;
    display: flex;
}
.sidebar.show {
    transform: translateX(0);
}
.sidebar li{
    width: 100%;
    font-size: 22px;
}
.sidebar a{
    width: 100%;
}
.sidebar a:hover{
    color: black;
}
.sidebar i{
    font-size: 40px;
    color: #293e53;
}

.home-bg{
    margin: 5rem 175px;
    font-size: 2rem;
}
.home-items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.home-items h1{
    color: #f8c017;
    font-size: 5rem;;
}
.home-items p {
    font-size: 30px;
    max-width: 900px;
    color: white;
}
.home-content a {
    text-decoration: none;
    width: 12rem;
    padding: 5px;
    transition: transform 0.5s ease;
    display: block;
}
.home-content a p {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #f8c017;
    font-weight: 600;
}

.home-content a:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 1px solid #f8c017;
}

.home-content a:hover p {
    color: white;
}

.home-items{
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    animation: slideFormLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFormLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* --------RESPONSIVE-------- */
@media (max-width: 768px) {
    .sidebar{
        width: 100vw;
        background-color: #f5ead9cf;
    }
    .home-bg {
    margin: 5rem 110px;
    font-size: 2rem;
}
    .home-items h1{
        font-size: 3rem;
}
    .home-items p{
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .logo{
        gap: 10px;
    }
    .logo img{
        width: 65px;
    }
    .logo h1{
        font-size: 1.2rem;
    }
    .menu-bar i{
        font-size: 15px;
        padding-top: 15px;
    }
    .home-bg{
        margin: 5rem 25px;
    }
}